$def-blue: #005B9C;

.main {
    & * {
        transition: 0.5s;
    }
    transition: 0.5s;

    & > .actions {
        z-index: 1;
        position: absolute;
        width: 120px;
        height: 60px;
        background-color: white;
        border: 0.5px solid gray;
        border-radius: 5px;
        margin-left: 20%;
        margin-top: 2%;
        padding-right: 15px;

        & > :last-child {
            color: red;
            margin-top: 15%;
        }

        & > .action {
            text-align: right;
            width: 100%;
            height: 20%;
        }
    }

    & > .card {
        padding-inline: 2%;
        width: 80%;
        height: 24vh;
        margin: 20px;
        background-color: #e3eef43a;
        border: 0.5px solid $def-blue;
        border-radius: 5px;
        position:relative;


        .title {
            width: 100%;
            display: inline-flex;
            margin-top: 7px;
            color: $def-blue;

            & > .name {
                margin-right: auto;
                margin-bottom: 10px;
            }

            & > .actions {
                margin-left: auto;
                margin-right: 2px;
            }
        }

        .result {
            margin-top: 5px;
            color: gray;
        }

        .device {
            margin-top: 5px;
            margin-bottom: 5px;
            color: $def-blue;
        }
    
        .icons {
            width: 100%;
            display: inline-flex;
            
            & > .docIcon {
                margin-right: 2px;
            }

            & > .chatIcon {
                margin-left: 5px;
                margin-right: 2px;
            }
        }
    
        .expert {
            position:absolute; 
            bottom: 8px;
            left: 4px;
            margin-top: auto;
            margin-bottom: 0px;
            padding-inline: 5px;
            width: 100%;
            display: inline-flex;

            & > .name {
                white-space: nowrap;
                margin-right: auto;
            }

            & > .deadline {
                color: white;
                display: inline-flex;
                background-color: #198754d5;
                border-color: transparent;
                padding-top: 3px;
                padding-bottom: 6px;
                border-radius: 3px;
                margin-left: 35%;
                margin-right: 25px;
                width: 100%;
                justify-content: center;

                & > img {
                    white-space: nowrap;
                    filter: brightness(0) invert(1);
                    height: 20px;
                    width: 20px;
                    margin-right: 3px;
                    margin-top: 2px;
                    text-align: center;

                }
            }

            & > .deadlineLose {
                @extend .deadline;

                background-color: red;
            }
        }
    }
}