$body-height: 92vh;
$body-width: 100vw;

$header-height: calc(100vh - $body-height);
$header-width: 100%;

$menu-height: calc(100vh - $header-height);
$menu-width: 52px;

$scene-height: calc(100vh - $header-height);
$scene-width: calc(100vw);

$def-blue: rgb(30, 60, 150);

.header {
    height: $header-height;
    width: $header-width;
    background-color: $def-blue;
    display: inline-flex;

    .headerLogo {
        height: calc($header-height*0.94);
        margin-left: 30px;
        margin-bottom: 40px;
        margin-top: 0;
    }

    .notifications {
        margin-top: 4%;
    }

    .headerText{
        color: white;
        margin-left: 50px;
        font-size: 20px;
    }

    .profileHeader {
        display: inline-flex;
        margin-top: 6px;
        margin-left: 53%;

        .profileIcon {
            $size: 48px;

            background-color: rgb(31, 92, 177);
            border-radius: 50%;
            border-color: transparent;
            width: $size;
            height: $size;

            & > img {
                width: $size*0.8;
                height: $size*0.8;
                margin-top: 10%;
                margin-left: 10%;
                margin-bottom: auto;
                margin-right: auto;
            }
        }

        .dropdownMenuTrigger {
            display: inline-flex;
            background-color: transparent;
            width: 140px;
            color: white;
            border-color: transparent;
            margin-top: 18px;
            font-size: 12px;
            font-weight: 600;

            .dropdownMenuText {
                margin-top: -3%;
            }
        }

        .dropdownMenuIcon {
            $size: 7px;

            margin-bottom: 15px;
            margin-left: 10px;
            vertical-align: middle;
            //margin: 0 5px;
            display: inline-block;
            width: 0;
            height: 0;
            border-top: $size solid white;
            border-left: $size solid transparent;
            border-right: $size solid transparent;
        }

        & > * {
            height: 64px;
            width: 64px;
        }
    }
}

.body {
    .menu {
        position: fixed;
        height: $menu-height;
        width: $menu-width;
        background-color: $def-blue;
    
        .buttons {
            margin-top: 200%;
            margin-left: 20%;

            > * {
                margin-bottom: 100%;
            }
        }

        .tradeMark {
            margin-top: 820%;
            margin-left: 28%;
        }
    }
    
    .scene {
        height: $scene-height;
        width: $scene-width;
        background-color: white;

        .userInfoTitle {
            margin-top: -4%;
            margin-left: 12.5%;
        }

        .userSafe {
            $margin-left: 12.5%;
            margin-left: $margin-left;
            width: calc($scene-width - $margin-left);
            margin-top: 10%;

            .passwordButton {
                position: fixed;
                margin-left: 70%;
                bottom: 7%;
                color: rgb(24, 91, 208);
                border-color: blue;
                border-radius: 5px;
                border: 0.5px solid;
                background-color: white;
                height: 5%;
                font-size: 20px;
                font-weight: 500;
                
                & > * {
                    transform: scale(.7, 1);
                }
            }

            & > .buttons {
                margin-top: 2%;
                height: 30px;
                width: 20%;
                margin-left: 69%;
                display: inline-flex;

                & > .offChanges {
                    border-color: rgba(28, 77, 155, 0.46);
                    border-radius: 5px;
                    border: 0.5px solid;
                    color: $def-blue;
                    background-color: white;
                    margin-left: auto;
                    margin-right: 4%;
                    width: 25%;
                    height: 150% !important;

                    font-size: 20px;
                    font-weight: 500;
                    
                    & > * {
                        transform: scale(.7, 1);
                        margin-right: 40px;
                    }
                }

                & > .acceptChanges {
                    color: white;
                    border-radius: 5px;
                    border-color: transparent;
                    background-color: $def-blue;
                    margin-right: 0;
                    width: 70%;
                    height: 150%;

                    font-size: 20px;
                    font-weight: 500;
                    
                    & > * {
                        transform: scale(.7, 1);
                    }
                }
            }

            & > .changePasswordInputs {
                display: inline-flex;

                & > .input {
                    margin-top: -3%;
                    margin-right: 11.5%;
                    width: 30%;
                    height: 50px;


                    & > :first-child {
                        margin-top: -3%;
                        margin-bottom: 0;
                        margin-top: -2%;
                    }

                    & > :last-child {
                        & > input {
                            z-index: 999;
                            border-radius: 3px;
                            border-bottom: 1px solid;
                            border: 1px solid;
                            border-color: gray;  
                        }
                        height: 40px;
                    }
                }
            }

            & > * {
                width: 100%;
            }

            & > .session {
                display: inline-flex;

                & > :first-child {
                    margin-right: 10px;
                }
            }

            .lastChangePassword {
                display: inline-flex;
                margin-top: -6%;
                & > :first-child {
                    margin-right: 10px;
                }
            }

            .passwordDanger {
                margin-top: -1%;
                color: red;     
            }


            & > .passwordZone {
                display: inline-flex;
                margin-top: -3%;
            }



            & > :first-child {
                margin-top: -3%;
                margin-bottom: -1%;
            }
        }

        & > .userInfo {
            $width: 89%;
            $height: 23%;
            margin-top: -5%;
            margin-left: 1%;
            display: inline-flex;
            width: $width;
            height: $height;


            .userFIO {
                width: $width/1.4;
                height: $height;
                margin-left: 13%;
                margin-right: 0;

                h4 {
                    margin: 0 0 4px 0;
                    padding: 0 0 0 0;
                }
                

                & > * {
                    padding-bottom: 6%;

                    & > input {
                        border: 0.5px solid;
                        border-color: gray;
                    }
                }
            }



            .userSecondaryInfo {
                width: $width/1.4;
                height: $height;
                margin-left: 6%;

                h4 {
                    margin: 0 0 4px 0;
                    padding: 0 0 0 0;
                }
                

                & > * {
                    padding-bottom: 6%;
                   
                    & > input {
                        border: 0.5px solid;
                        border-color: gray;
                    }
                }

                .buttons {
                    display: inline-flex;
                    padding-top: 7.6%;
                    height: 120%;
                    width: 101%;

                    & > .offChanges {
                        border-color: rgba(28, 77, 155, 0.46);
                        border-radius: 5px;
                        border: 0.5px solid;
                        color: $def-blue;
                        background-color: white;
                        margin-left: auto;
                        margin-right: 7%;
                        width: 20%;
                        height: 100% !important;

                        font-size: 20px;
                        font-weight: 500;
                        
                        & > * {
                            transform: scale(.7, 1);
                        }
                    }

                    & > .acceptChanges {
                        color: white;
                        border-radius: 5px;
                        border-color: transparent;
                        background-color: $def-blue;
                        margin-right: 0;
                        width: 45%;
                        height: 100%;
                        float: right;

                        font-size: 20px;
                        font-weight: 500;
                        
                        & > * {
                            transform: scale(.7, 1);
                            margin-right: 40px;
                        }
                    }
                }

                .contacts {
                    width: 100%;
                    height: 100%;
                    display: inline-flex;

                    & > * {
                        width: 48%;
                    }

                    & > .contact {
                        input {
                            border-color: rgba(194, 194, 194, 0.582);
                        }
                    }

                    & > :first-child {
                        margin-right: 13px;
                    }

                    & > :last-child {
                        margin-left: 13px;
                    }
                }
            }
        }

        .UserPreview {
            width: calc($scene-width - 13%);
            height: 30%;
            display: inline-flex;
            margin-top: 2%;
            margin-left: 13%;            

            .uploadTitle {
                color: rgb(35, 92, 172);
                text-align: center;
                display: inline-flex;
                width: 250px;
                text-decoration: underline;
                font-size: 20px;

                & > img {
                    width: 16px;
                    height: 16px;
                }

                & > h6 {
                    margin-top: 0.5px;
                    margin-left: 5px;
                }
            }

            & > .userInfo {
                margin-top: 2.5%;
                margin-left: 2%;

                & > .name {
                    transform: scale(.6, 1);
                    font-size: 48px;
                    font-weight: 900;
                    margin-left: -25%;
                }
            }

            .profileIcon {
                $size: 125px;

                background-color: rgba(38, 107, 157, 0.062);
                width: $size;
                border-radius: 50%;
                height: $size;

                & > img {
                    filter: invert(30%) sepia(73%) saturate(9252%) hue-rotate(187deg) brightness(69%) contrast(119%);
                    //margin-top: 12%;
                    //margin-left: 12%;
                    width: $size;
                    border-radius: 50%;
                    height: $size;
                }
            }
        }
    }
}

button:disabled {
    filter: grayscale(80%);
}

.liteText {
    font-weight: 600;
}