.scene {
    width: 70vw;
}

.menu {
    background-color: rgb(16, 73, 139);
    width: 20vw;
    height: 100vh;
    position: fixed;
}

.main {
    width: 100vw;
}

.logo {
    width: 80%;
    margin-inline: 10%;
}
