$body-height: 92vh;
$body-width: 100%;

$header-height: calc(100vh - $body-height);
$header-width: 100%;

$menu-height: calc(100vh - $header-height);
$menu-width: 52px;

$scene-height: calc(100vh - $header-height);
$scene-width: calc(95vw - $menu-width);

$def-blue: #005B9C;

body {
    overflow-x: hidden;
}

.body {
    margin-top: 4%;
    display: inline-flex;
    transition: 0.5s;
    
    .scene {

        transition: 0.5s;
        height: $scene-height;
        width: $scene-width;
        background-color: white;

        .userInfoTitle {
            margin-top: -4%;
            margin-left: 4%;    
        }

        .userSafe {
            $margin-left: 4%;
            margin-left: $margin-left;
            width: 60%;
            margin-top: 10%;

            .passwordButton {
                position: fixed;
                //margin-left: 100px;
                margin-top: 2%;
                width: 12%;
                bottom: 7%;
                color: rgb(24, 91, 208);
                border-color: blue;
                border-radius: 5px;
                border: 0.5px solid;
                background-color: white;
                height: 5%;
                font-size: 20px;
                font-weight: 500;
                
                & > * {
                    transform: scale(.7, 1);
                }
            }

            & > .buttons {
                margin-top: 2%;
                height: 30px;
                width: 25%;
                margin-left: 44.5%;
                display: inline-flex;

                & > .offChanges {
                    border-color: rgba(28, 77, 155, 0.46);
                    border-radius: 5px;
                    border: 0.5px solid;
                    color: $def-blue;
                    background-color: white;
                    margin-left: auto;
                    margin-right: 4%;
                    width: 15%;
                    height: 150% !important;

                    font-size: 20px;
                    font-weight: 500;
                    
                    & > * {
                        transform: scale(.7, 1);
                    }
                }

                & > .acceptChanges {
                    color: white;
                    border-radius: 5px;
                    border-color: transparent;
                    background-color: $def-blue;
                    margin-right: 0;
                    width: 30%;
                    height: 150%;

                    font-size: 20px;
                    font-weight: 500;
                    
                    & > * {
                        transform: scale(.7, 1);
                    }
                }
            }

            & > .changePasswordInputs {
                display: inline-flex;
                width: 162.5%;

                & > .input {
                    margin-top: -3%;
                    margin-right: 11.5%;
                    width: 100%;
                    height: 50px;


                    & > :first-child {
                        margin-top: -3%;
                        margin-bottom: 0;
                        margin-top: -2%;
                    }

                    & > :last-child {
                        
                        & > input {
                            z-index: 999;
                            border-radius: 3px;
                            border-bottom: 1px solid;
                            border: 1px solid;
                            border-color: gray;  
                        }
                        height: 40px;
                    }
                }
            }

            & > * {
                width: 100%;
            }

            & > .session {
                display: inline-flex;

                & > :first-child {
                    margin-right: 10px;
                }
            }

            .lastChangePassword {
                display: inline-flex;
                
                margin-top: -6%;
                & > :first-child {
                    margin-right: 10px;
                }
            }

            .passwordDanger {
                width: 100%;
                margin-top: -1%;
                color: red;     
            }


            & > .passwordZone {
                display: inline-flex;
                margin-top: -3%;
            }



            & > :first-child {
                margin-top: -3%;
                margin-bottom: -1%;
            }

            & > :last-child {
                width: 100%;
            }
        }

        & > .userInfo {
            $width: 86%;
            $height: 23%;
            margin-top: -5%;
            margin-left: 4%;    
            display: inline-flex;
            width: $width;
            height: $height;


            .userFIO {
                width: $width;
                height: $height;
                margin-left: 0;
                margin-right: 0;

                h4 {
                    margin: 0 0 4px 0;
                    padding: 0 0 0 0;
                }
                

                & > * {
                    padding-bottom: 6%;

                    & > input {
                        border: 0.5px solid;
                        border-color: gray;
                    }
                }
            }



            .userSecondaryInfo {
                width: $width;
                height: $height;
                margin-left: 6%;

                h4 {
                    margin: 0 0 4px 0;
                    padding: 0 0 0 0;
                }
                

                & > * {
                    padding-bottom: 6%;
                   
                    & > input {
                        border: 0.5px solid;
                        border-color: gray;
                    }
                }

                .buttons {
                    display: inline-flex;
                    padding-top: 7.6%;
                    height: 120%;
                    width: 101%;

                    & > .offChanges {
                        border-color: rgba(28, 77, 155, 0.46);
                        border-radius: 5px;
                        border: 0.5px solid;
                        color: $def-blue;
                        background-color: white;
                        margin-left: auto;
                        margin-right: 7%;
                        width: 20%;
                        height: 100% !important;

                        font-size: 20px;
                        font-weight: 500;
                        
                        & > * {
                            transform: scale(.7, 1);
                        }
                    }

                    
                    & > .offChangesHidden {
                        @extend .offChanges;

                        opacity: 0%;                 
                    }

                    & > .acceptChanges {
                        color: white;
                        border-radius: 5px;
                        border-color: transparent;
                        background-color: $def-blue;
                        margin-right: 0;
                        width: 51%;
                        height: 100%;
                        float: right;

                        font-size: 20px;
                        font-weight: 500;
                        
                        & > * {
                            transform: scale(.7, 1);
                            margin-right: 40px;
                        }
                    }
                }

                .contacts {
                    width: 100%;
                    height: 100%;
                    display: inline-flex;

                    & > * {
                        width: 48%;
                    }

                    & > .contact {
                        input {
                            border-color: rgba(194, 194, 194, 0.582);
                        }
                    }

                    & > :first-child {
                        margin-right: 13px;
                    }

                    & > :last-child {
                        margin-left: 13px;
                    }
                }
            }
        }

        .UserPreview {
            width: 70%;
            height: 30%;
            display: inline-flex;
            margin-top: 2%;
            margin-left: 4%;            

            .uploadTitle {
                color: rgb(35, 92, 172);
                text-align: center;
                display: inline-flex;
                width: 250px;
                text-decoration: underline;
                font-size: 20px;

                & > img {
                    width: 16px;
                    height: 16px;
                }

                & > input {
                    margin-top: 0.5px;
                    margin-left: 5px;
                    padding: 0;
                    background-color: transparent;
                    border-color: transparent;
                    display: none;
                }

                & > label {
                    margin-top: 0.5px;
                    margin-left: 5px;
                    padding: 0;
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            & > .userInfo {
                margin-top: 2.5%;
                margin-left: 2%;

                & > .name {
                    transform: scale(.6, 1);
                    font-size: 48px;
                    font-weight: 900;
                    margin-left: -25%;
                }
            }

            .profileIcon {
                $size: 125px;

                background-color: rgba(38, 107, 157, 0.062);
                width: $size;
                border-radius: 50%;
                height: $size;

                
                & > .UserIcon {
                    width: $size;
                    border-radius: 50%;
                    height: $size;
                }

                & > .DefUserIcon {
                    @extend .UserIcon;
                    filter: invert(30%) sepia(73%) saturate(9252%) hue-rotate(187deg) brightness(69%) contrast(119%);
                }

            }
        }
    }
}

button:disabled {
    filter: grayscale(80%);
    //opacity: 60%;
    background-color: #E9ECEF !important;
    color: #ADB5BD !important;
    border: 0.5px solid #ADB5BD !important;
}

.liteText {
    font-weight: 600;
}