$def-blue: #005B9C;

.main {
    width: 100%;
    height: 100%;
    padding-inline: 4%;

    & > .close {
        margin-left: 90%;
        transform: rotate(45deg);
        height: 2%;
        width: 32px;
        height: 32px;
    }

    & > .name {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: x-large;
    }

    & > .equipmentName {
        width: 100%;
        text-align: center;
        font-weight: 400;
        color: gray;
    }

    & > .inline {
        display: inline-flex;
        width: 100%;
        margin-bottom: 2%;
        margin-top: 4%;

        & > .next {
            display: inline-flex;
            color: $def-blue;
            background-color: #E3EEF499;
            margin-right: 9%;
            border-radius: 5px;
            border-color: transparent;
            height: 35px;
            font-weight: 300;
            font-size: medium;
            margin-top: -5px;

            & > .icon {
                margin-inline: 8px;
                margin-top: 6px;
            }

            & > .title {
                margin-top: 5px;
            }
        }

        & > .createAt {
            margin-left: 0;
            display: inline-flex;

            & > .title {
                font-weight: 600;
                margin-right: 0; 
            }

            & > .value {
                color: gray; 
            }
        }
        & > .deadline {
            margin-left: auto;
            margin-right: 9%;
            display: inline-flex;

            & > .title {
                margin-right: 0; 
                font-weight: 600;
            }

            & > .value {
                color: gray; 
            }
        }
    }

    & > .description {
        width: 100%;
        display: inline-flex;
        margin-bottom: 2%;

        & > .title {
            font-weight: 600;
        }

        & > .value {
            color: gray;
        }
    }

    & > .files {
        display: inline-flex;
        margin-bottom: 2%;

        & > .title {
            font-weight: 600;
        }

        & > .addfile { 
            height: 32px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid $def-blue;
            display: inline-flex;
            margin-top: -4px;

            & > .icon {
                width: 16px;
                margin: 5px;
            }

            & > .title {
                color: $def-blue;
                margin-top: 6px;
            }
        }
    }

    & > .commentConteiner {
        width: 100%;
        margin-bottom: 3%;

        & > .comment {
            width: 100%;
            display: inline-flex;

            & > .title {
                font-weight: 600;
            }
        }

        & > .addcomment {
            margin-bottom: 4%;
            margin-top: 4%;
            color: gray;  
            width: 90%;
            height: 30px;
        }
    }

}