$body-height: 100vh;
$body-width: 100vw;

$header-height: 8vh;
$header-width: 100%;

$menu-height: 100vh;
$menu-width: 52px;

$scene-height: calc(100vh - $header-height);
$scene-width: calc(100vw - $menu-width);

$def-blue: #005B9C;

.menu {
    height: $menu-height;
    width: $menu-width;
    background-color: $def-blue;
    
    transition: 0.5s;

    .buttons {
        padding-top: 14.2vh;
        margin-left: 20%;

        transition: 0.5s;

        > * {
            transition: 0.5s;
            margin-bottom: 6vh !important;
        }
    }

    .tradeMark {
        margin-top: 55vh;
        margin-left: 28%;
    }
}

.menuOpen {
    @extend .menu;
    width: $menu-width*4;
    transition: 0.5s;

    .buttons {
        transition: 0.5s;
        margin-right: 100px;

        > * {
            & > * {
                transition: 0.5s;
                color: white;
                display: inline-flex;
                text-decoration: none;
            }
        }
    }
}