$def-blue: #005B9C;

.main {
    background-color: white;

    & > .scene {
        width: 100%;

        & > .menu {
            width: 100%;
            height: 180px;
            display: inline-flex;
            background-color: white;

            & > .docs {
                background-color: #E3EEF4;
                color: #004170;
                height: 70%;
                margin: 3%;
                padding: 2%;

                & > .header {
                    display: inline-flex;
        
                    & > .icon {
                        width: 24px;
                        margin: 4px;
                    }

                    & > .iconActive {
                        @extend .icon;
                        transform: rotate(180deg);
                    }
        
                    & > .title {
                        font-weight: 600;
                        color: #006ebd;
                        white-space: nowrap;
                    }
                }
        
                & > .menu {
                    width: 100%;

                    & > .item {
                        padding-left: 5%;
                        width: 100%;
                        display: inline-flex;
                        margin-left: 5%;
                        color: #006ebd;
                        margin-top: 2%;

                        & > .icon {
                            width: 12px;
                            transform: rotate(-90deg);
                            margin-top: 1%;
                        }
                    }
                }
            }
        
            & > .devices {
                background-color: #E3EEF4;
                color: #004170;
                height: 70%;
                margin: 3%;
                padding: 2%;

                & > .header {
                    display: inline-flex;
        
                    & > .icon {
                        width: 24px;
                        margin: 4px;
                    }

                    & > .iconActive {
                        @extend .icon;
                        transform: rotate(180deg);
                    }
        
                    & > .title {
                        font-weight: 600;
                        color: #006ebd;
                        white-space: nowrap;
                    }
                }
        
                & > .menu {
                    width: 100%;

                    & > .item {
                        padding-left: 5%;
                        width: 100%;
                        display: inline-flex;
                        margin-left: 5%;
                        color: #006ebd;
                        margin-top: 2%;

                        & > .icon {
                            width: 12px;
                            transform: rotate(-90deg);
                            margin-top: 1%;
                        }
                    }
                }
            }
        }
    }

    & > .header {
        display: inline-flex;
        width: 100%;
        height: max-content;
        margin-top: 5%;

        & > h1 {
            width: 100%;
            text-align: center;
            margin-right: 10%;
        }

        & > .back {
            margin-left: 2%;
            margin-top: 2%;
            background-color: transparent;
            border-color: transparent;
            outline-color: transparent;
            color: $def-blue;
            display: inline-flex;
            
            & > .title {
                font-weight: 600;
                font-size: large;
                margin-bottom: 1%;
            }

            & > .icon {
                transform: rotate(90deg);
            }
        }
    }

    & > .SearchAndFilter {
        width: 84%;
        padding-inline: 8%;
        margin-top: 1%;
        display: inline-flex;

        & > .search {
            width: auto;
            margin-left: 0;
            margin-right: 0;
            left: 0;
            right: 0;
            flex: 1;
        }

        & > .addTest {
            height: 44px;
            width: 12%;
            margin-right: 20px;
            background-color: $def-blue;
            color: white;
            border-radius: 5px;
            border: none;
            font-weight: 500;
            font-size: 18px;
        }

        & > .filters {

        }
    }
}