.main {
    width: 100%;
    height: 100%;

    & > .label {
        width: 100%;
        height: 100%;

        & > input {
            height: 40px;
            width: 100%;
            border-radius: 5px;
            border-color: gray;
            border: 0.5px solid;
            background: url('../../../source/images/icons/search.svg') no-repeat scroll 0 center;
        }
    }
}