.fields {
    display: inline-flex;
    align-content: center;
    flex-direction: column;
    //align-items: center;
    text-align: left;

    & > input {
        margin: 10px;
        height: 50px;
        width: 45vw;
        border: solid 1px rgba(95, 95, 95, 0.281);
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        text-align: left;
        text-indent: 10px;

        &[type="email"] {
            margin-bottom: 50px;
        }
    }

    & > span {
        text-align: left;
        font-size: 0.9rem;
    }
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.signUpButton{
    margin-top: 20px;
    color: white;
    margin-left: 24%;
    background-color: rgb(19, 66, 128);
    height: 45px;
    width: 25vw;
    border-radius: 25px;
    border-color: transparent;
}

.helpSignUpButtonLink{
    position: fixed;
    top: 30px;
    left: 30px;
}

.shotDownSignUpButtonLink{
    position: fixed;
    top: 30px;
    right: 30px;
}

.signUpTitle{
    font-size: 1.5rem;
    font-weight: 600;
    position: fixed;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.headerField{
    text-align: left;
    text-indent: 10px;
}

.discriptionWhoDevelopment{
    font-weight: bold;
    position:fixed;
    bottom:-50%;
    left: -85%;
    width: 100vw;
    text-align: center;
}