.calendar {
    margin-right: 3%;
    margin-top: 5%;
}

.main {
    display: inline-flex;
    
    width: 100%;

    &:has(.calendar){
        & div.storyActions {
            border-bottom: 2px solid;
        }
    }
}

.accounts {
    width: 100%;
}

.account {
    width: 100%;
    margin-top: 2%;
}

.filter {
    width: 100%;
    display: inline-flex;
    margin-bottom: 1%;

    & > div {
        width: 20%;
        margin-inline: 5%;
        text-align: center;
    }
}

.filterIcon {

    &:focus {
        border: 1px solid;
    }
}

.storyActions {
    
}

.search {
    border-color: transparent;
    outline: none;
    margin-top: 10%;
    margin-inline: 5%;
    width: 60%;
    height: 20%;
    font-size: large;
    font-weight: 300;
    font-style:unset;
    font-stretch: extra-condensed;
}

.filterIcon {
    width: 16px;
    margin-inline: 5px;
}