.main {
    width: 25%;
    height: 25%;

    & > .card {

        display: inline-flex;

        & > .title {
            display: 'inline-flex';

            & > .name {
                
            }

            & > .actions {

            }
        }

        & > .icons {
            display: 'inline-flex';

        }

        & > .mandatoryTests {
            display: 'inline-flex';

            & > .title {

            }
            
            & > .count {

            }
        }

        & > .nonMandatoryTests {
            display: 'inline-flex';

            & > .title {

            }
            
            & > .count {

            }
        }

        & > .expert {
            display: 'inline-flex';

            & > .name {

            }
            
            & > .datePinned {

            }
        }

        & > .deadline {

        }
    }
}