.main {
    margin-top: 15%;
    margin-left: -250%;
    width: 600%;
    background-color: white;
    border: 0.5px solid;
    border-color: black;
    & > .items {

        & > .item {
            background-color: whitesmoke;
            margin: 2%;
            border-radius: 5%;

            & > title {
                width: 100%;
                border-color: black;

                border-bottom: 1px solid;
            }

            & > data {
                
            }
        }
    }
}